body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-45xl: 64px;
  --font-size-21xl: 40px;
  --font-size-77xl: 96px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-lime: #42ff00;

  /* Border radiuses */
  --br-101xl: 120px;
}
